.App {
  text-align: center;
  background: #282c34;
  min-height: 100vh;
  padding: 3px;
}

.input {
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}

.title {
  color: #61dafb;
}
.ul{
  text-decoration: none;
  margin-left: -40px;
}

.li{
  font-size: calc(10px + 2vmin);
  color: #282c34;
  font-weight: 600;
  gap: 20px;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #61dafb;
}

a{
  text-decoration: none;
  color: white;
}
